// media query
$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
//


// common style
html body {
  overflow-x: hidden;
}

input[type="submit"]{
  -webkit-appearance: none;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  background-color: #3F51B5;
  padding: 12px 50px;
  border-radius: 25px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #5F71d5;
  }
}

//navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: #3F51B5;
  color: #fff;
  &__items {
    display: flex;
  }
  &__item {
    a {
      color: #fff;
      padding: 8px;
    }
    a:hover {
      opacity: 0.8;
      border-bottom: 3px solid #E81919;
    }
  }
  &__burger {
    display: none;
    cursor: pointer;
    div {
      width: 25px;
      height: 2px;
      background-color: #fff;
      margin: 5px;
      transition: 0.5s;
    }
  }
  &__overlay {
    z-index: 90;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 1000vh;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
  }
}
@include sp {
  .navbar {
    &__items {
      // visibility: hidden;を有効にすると画面サイズを変えたときに一瞬出るドロワーが非表示になるが、
      // translateX(0%) -> translateX(100%)のtransitionが無効になる
      // visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      width: 80vw;
      height: 100vh;
      z-index: 100;
      background-color: #3F51B5;
      flex-direction: column;
      text-align: center;
      padding: 20vh 0;
      box-shadow: -4px 0px 20px #000;
      transform: translateX(105%);
      transition: transform 0.5s ease-in-out;
      &--active {
        transform: translateX(0%);
        visibility: visible;
      }
    }
    &__item {
      margin: 30px;
    }
    &__burger {
      display: block;
      z-index: 110;
      &--active {
        .line1 {
          transform: rotate(-45deg) translate(-3px, 7px);
          // transform: rotate(-45deg);
        }
        .line2 {
          opacity: 0;
        }
        .line3 {
          transform: rotate(45deg) translate(-3px, -7px);
          // position: relative;
        }
      }
    }
    &__overlay--active {
      opacity: 0.6;
      visibility: visible;
    }
  }
}




// main
.main-visual {
  height: 500px;
  background: url(../img/bg-image.jpg) no-repeat;
  background-size: cover;
  .container {
    text-align: center;
    padding: 150px 30px;
    h2 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 50px;
    }
  }
}



// cards
.cards {
  background-color: #EFEFEF;
  padding: 80px 0;
  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .flex-container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .flex-item {
      // height: 360px;
      background-color: #fff;
      padding: 1.2rem 1rem;
      flex: 1 0 300px;
      margin: 0 8px 30px 8px;
      .item-img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
      h4 {
        margin-bottom: 5px;
      }
    }
  }
}



// access
.access {
  padding: 80px 0;
  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .map {
    max-width: 800px;
    margin: 0 auto;
  }
  .iframe-wrap {
    width: 100%;
    padding-top: 64%;
    position: relative;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}




// contact
.contact {
  background-color: #EFEFEF;
  padding: 80px 0;
  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
  }

  form {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px;
    text-align: center;
    .input {
      display: flex;
      margin-bottom: 30px;
      text-align: left;
      @include sp {
        flex-direction: column;
      };
      label {
        // flex: 1 0 180px;
        flex: 1;
        margin-right: 0.6rem;
        margin-bottom: 0.6rem;
      }
      input {
        // flex: 3 1 500px;
        flex: 3;
        border: 1px solid #bbb;
        border-radius: 4px;
        min-height: 1.8rem;
      }
      textarea {
        // flex: 3 1 500px;
        flex: 3;
        border: 1px solid #bbb;
        border-radius: 4px;
      }
    }
  }
}




// footer
footer {
  height: 100px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 40px;
}